<h2 style="padding-top: 30px"><b>Education</b></h2>
<!-- <table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/mit.png" alt="clean-usnob" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Massachusetts Institute of Technology</strong></p>
      <p1>PhD in Electrical Engineering and Computer Science | 2025 – Present<br>
      SM in Electrical Engineering and Computer Science | 2023 – 2025
      <br><strong>Affiliations:</strong> Computer Science and Artificial Intelligence Lab (<a href="https://www.csail.mit.edu/">CSAIL</a>), Embodied Intelligence, <a href="https://beerys.github.io/">BeeryLab</a>
      </p1>
    </td>
  </tr>
</tbody></table> -->

<table style="padding-top: 20px; width: 100%; border: 0px; border-spacing: 0px; border-collapse: separate; margin-right: auto; margin-left: auto">
  <tbody>
    <tr>
      <td style="padding-right: 20px; width: 25%; vertical-align: middle">
        <img src="assets/img/uoft.jpg" alt="clean-usnob" width="140" height="140" />
      </td>
      <td width="75%" valign="middle">
        <p>
          <strong>University of Toronto</strong>
        </p>
        <p1
          ><a href="https://engsci.utoronto.ca/program/what-is-engsci/">Honors Bachelors of Science in Neuroscience</a> | 2021 - 2026 <br /><strong
            >Specialist in Systems and Behavioural Neuroscience</strong
          >
          (cGPA: 3.93/4.0)
        </p1>
      </td>
    </tr>
  </tbody>
</table>
