<div style="padding-top: 40px; text-align: left;">
<!-- <h2><b>interests/ hobbies</b></h2>
</div>
<div class="row" style = "padding-top: 20px;">
    <div class="col-md-4 portfolio-item" align-items="center">
      <img class="img-responsive" src="assets/img/piano.jpg"  width="230" height="230" halign="middle">
      <br><p1 style="padding-top: 10px;"><strong>Music</strong>
      <br><br>I enjoy everything from classical to pop to alternative and have an <a href="https://www.rcmusic.com/learning/examinations/recognizing-achievement/arct-lrcm">Associate Diploma</a> in piano performance. I used to play at community events (something I'd love to get back to!) and, in past lives, made brief (and mostly unsuccessful) attempts at classical guitar and the cello.</p1>
    </div>

   <div class="col-md-4 portfolio-item">
      <img class="img-responsive" src="assets/img/chaetime.JPG"  width="230" height="230">
      <br><p1 style="padding-top: 10px;"><strong>Cooking</strong>
      <br><br>I cook mostly because I like eating, but I really enjoy the process too! I post some of them on a small (and very amateur) cooking Instagram — and I’m always open to new recipe ideas.</p1>
    </div>

    <div class="col-md-4 portfolio-item">
      <img class="img-responsive" src="assets/img/canoe.png"  width="230" height="230">
      <br><p1 style="padding-top: 10px;"><strong>Nature</strong>
      <br><br>I love being outdoors in almost any form — hiking, camping, paddling, or just quietly watching wildlife. I’ve gotten into birding and wildlife photography as a hobbyist (my sister on the other hand is a professional. check <a href="https://emilychaee.myportfolio.com/nature">her</a> out), and one of my favorite recent discoveries has been backcountry canoe trips in Ontario (pictured above): both very peaceful and humbling.</p1>
    </div>

  </div> -->


<h2 style="text-align: left"><b>Beyond Research</b></h2>

<p style="text-align: left">
Beyond my research, I'm probably at a concert, obsessing over a soundtrack, or dissecting movies and internet culture with far too much enthusiasm. 
If you ever want a spirited opinion on whatever the internet is arguing about this week, I'm your person :)
</p>

