<h2><b>Research Interests</b></h2>

<p>I am currently thinking a lot about:</p>

<ul>
  <li><b>Perception and Neural Representation:</b> How the brain encodes and organizes visual information—from faces to complex scenes—and how these representations adapt to context.</li>
  
  <li><b>Computational Modeling:</b> Using generative models and neural data (EEG, fMRI) to link brain activity with high-dimensional representational spaces.</li>
  
  <li><b>Human and Artificial Intelligence:</b> Exploring how principles of human perception can inspire more interpretable and biologically grounded AI systems.</li>
</ul>
